In [ ]:
# combine elements of list
list_1 = [1,2,3]
list_2 = [4,5,6]
list_1 + list_2 # [1, 2, 3, 4, 5, 6]
[list_1,list_2] # [[1, 2, 3], [4, 5, 6]]

In [ ]:
# elements that are part of one element but not the other - list difference
list_1 = [1,2,3,4]
list_2 = [4,5,6]
print([element for element in list_1 if element not in list_2])

In [ ]:
# Check if a list is empty
a = []
if not a:
    print('a is an empty list')

In [ ]:
# Delete items from dictionary while iterating 
# (https://www.geeksforgeeks.org/python-delete-items-from-dictionary-while-iterating/)
myDict = {1: 'Geeks', 2: 'For', 3: 'Geeks'} 
delete = [key for key in myDict if key == 3] 
for key in delete: 
    del myDict[key] 
print(myDict)

In [ ]:
# write multiple dataframes to a single excel file
with pd.ExcelWriter('output.xlsx') as writer:  
    df1.to_excel(writer, sheet_name='sheet1')
    df2.to_excel(writer, sheet_name='sheet2')

In [ ]:

# append columns to a dataframe in for loop
temp_df = df.copy()
result_temp_df = pd.DataFrame()
for i in range(5):   
    loc_df = temp_df.iloc[:,i]
    result_temp_df = pd.concat([result_temp_df,loc_df],axis=1)

In [ ]:
# append rows to a dataframe in for loop
temp_df = df.copy()
result_temp_df = pd.DataFrame()
for i in range(5):   
    result_temp_df.loc[i,'column1'] = 'Column1_Value'
    result_temp_df.loc[i,'column2'] = 'Column2_Value'
    result_temp_df.loc[i,'column3'] = 'Column3_Value'

In [ ]:
# Update dataframe row in for loop
for i, row in df.iterrows():
      ifor_val = something
      if <condition>:
        ifor_val = something_else
      df.at[i,'ifor'] = ifor_val

#### Datetime

In [4]:
from datetime import datetime

In [5]:
# Datetime object from date time string in ISO format
iso_date_format = "%Y-%m-%dT%H:%M:%S.%fZ"
iso_date =  "2019-11-13T09:07:43.731Z"
date_obj = datetime.strptime(iso_date, iso_date_format)
date_obj

datetime.datetime(2019, 11, 13, 9, 7, 43, 731000)

In [8]:
# Current system time
current_time = datetime.now() ; print(current_time)

2021-05-10 12:07:31.665414

In [7]:
# Curent UTC time
current_utc_now = datetime.utcnow() ; print(current_utc_now)

2021-05-10 06:37:26.316110

In [ ]:
# Format date-time
now = datetime.now()
# Format: YYYY-MM-DD HH:MM:SS
print(now.strftime("%Y-%m-%d %H:%M:%S"))

In [14]:
# Current time in Unix time stamp
import calendar
now = datetime.now()
timestamp = calendar.timegm(now.timetuple())
print(timestamp)

1620648691

In [13]:
# Unix timestamp to utc time

# considers system time zone
date_time = datetime.utcfromtimestamp(1485994420); print(date_time)

# to get real utc time
date_time = datetime.fromtimestamp(1485994420); print(date_time)

2017-02-02 00:13:40
2017-02-02 05:43:40

In [12]:
# Date in ISO 8601 format.
# isoformat() returns string instead of datetime.

datetime.utcnow().isoformat()

'2021-05-10T06:39:10.877722'

In [11]:
datetime.now().isoformat()

'2021-05-10T12:09:09.494073'

In [ ]:
import pandas as pd
date='2020/11/26 12:00:00'
date_time=pd.to_datetime(date, format='%Y/%m/%d %H:%M:%S')

In [ ]:
# current datetime pandas
today = pd.to_datetime("today")
print(today)
# convert column to timestamp pandas
df2 = pd.to_datetime(df['col1'])

friday = pd.Timestamp('2018-01-05')
friday.day_name()

# Add 1 day
saturday = friday + pd.Timedelta('1 day')

saturday.day_name()

#### https://www.allthesnippets.com/browse/pandas/df_timeseries.html

In [ ]:
# Create datetime object with python's native method
date = datetime(year=2010, month=7, day=10, hour=10, minute=50); date

In [ ]:
# Create datetime object with python's native method
from dateutil import parser
date = parser.parse("10th of July, 2020 10:50"); date

In [15]:
# Extract date, time parts from datetime

date = datetime(year=2010, month=7, day=10, hour=10, minute=50)

# format can be any code of strftime directive: http://strftime.org/
print(date.strftime('%A'))
print(date.strftime('%B'))
print(date.strftime('%H:%M'))

Saturday
July
10:50

In [16]:
# Create datetime object with numpy (datetime64)
import numpy as np
date1 = np.array('2020-07-10', dtype=np.datetime64); print(date1)
date2 = np.datetime64('2020-07-10 10:50'); print(date2)

2020-07-10
2020-07-10T10:50

In [17]:
# Create datetime object with pandas (Timestamp)
import pandas as pd
date = pd.to_datetime("10th of July, 2020 10:50"); print(date)

# Create datetime object with pandas (datetime64)
import datetime as datetime
dti = pd.to_datetime(['1/1/2018', np.datetime64('2018-01-01'), datetime.datetime(2018, 1, 1)]); print(dti)

2020-07-10 10:50:00
DatetimeIndex(['2018-01-01', '2018-01-01', '2018-01-01'], dtype='datetime64[ns]', freq=None)

In [31]:
# Create DataFrame with DatetimeIndex as index
data = {'ticker': ['AAPL', 'AAPL', 'AAPL', 'AAPL', 'AAPL'],
        'open': [99, 100, 110, 200, 205],
        'close': [99, 90, 120, 205, 210]
       }
index = pd.DatetimeIndex(['2018-04-02', '2019-04-02', '2019-12-31', '2020-04-07', '2020-12-31'])

df = pd.DataFrame(data, index)
df.index.name = 'date'

print(df)
print(df.index)

           ticker  open  close
date
2018-04-02   AAPL    99     99
2019-04-02   AAPL   100     90
2019-12-31   AAPL   110    120
2020-04-07   AAPL   200    205
2020-12-31   AAPL   205    210
DatetimeIndex(['2018-04-02', '2019-04-02', '2019-12-31', '2020-04-07',
               '2020-12-31'],
              dtype='datetime64[ns]', name='date', freq=None)

In [32]:
# Slice DataFrame with DatetimeIndex on specific year/month/period
# 2019 rows only
print(df['2019'])

# 2019 April rows only
print(df['2019-04'])

# select rows for a specific time period
print(df['2019-04-03':'2020-04-07'])

           ticker  open  close
date
2019-04-02   AAPL   100     90
2019-12-31   AAPL   110    120
           ticker  open  close
date
2019-04-02   AAPL   100     90
           ticker  open  close
date
2019-12-31   AAPL   110    120
2020-04-07   AAPL   200    205

In [33]:
# resample to annual frequency averaging values for each year
df.resample('A').mean()

             open  close
date
2018-12-31   99.0   99.0
2019-12-31  105.0  105.0
2020-12-31  202.5  207.5

In [34]:
# resample to annual frequency selecting the values at the end of each year
# note the default NaN when no data for end of year 2018
df.asfreq('A')

           ticker   open  close
date
2018-12-31    NaN    NaN    NaN
2019-12-31   AAPL  110.0  120.0
2020-12-31   AAPL  205.0  210.0

In [35]:
# resample to annual frequency selecting the values at the end of each year
# backfill missing with previous non null value
df.asfreq('A', method='ffill')

           ticker  open  close
date
2018-12-31   AAPL    99     99
2019-12-31   AAPL   110    120
2020-12-31   AAPL   205    210

In [45]:
# giving DataFrame df with DatetimeIndex
data = {'ticker': ['AAPL', 'AAPL', 'AAPL', 'AAPL'],
        'open': [100, 110, 200, 205],
        'close': [90, 120, 205, 210]
       }
index = ['2020-04-02', '2020-04-03', '2020-04-07', '2020-04-08']
df = pd.DataFrame(data, index)
df.index.name = 'date'
df.index = pd.DatetimeIndex(df.index)

print(df)

print(df.index)

# add all missing business dates between begin/end dates (date 2020-04-06)
df_all_weekdays = pd.date_range(start=df.index.min(), end=df.index.max(), freq='B')
df = df.reindex(df_all_weekdays)
df.index.name = 'date'
df

           ticker  open  close
date
2020-04-02   AAPL   100     90
2020-04-03   AAPL   110    120
2020-04-07   AAPL   200    205
2020-04-08   AAPL   205    210
DatetimeIndex(['2020-04-02', '2020-04-03', '2020-04-07', '2020-04-08'], dtype='datetime64[ns]', name='date', freq=None)

           ticker   open  close
date
2020-04-02   AAPL  100.0   90.0
2020-04-03   AAPL  110.0  120.0
2020-04-06    NaN    NaN    NaN
2020-04-07   AAPL  200.0  205.0
2020-04-08   AAPL  205.0  210.0

In [48]:
# Add missing business dates in a time series, backfill them with previous row’s data
# giving DataFrame df with DatetimeIndex
data = {'ticker': ['AAPL', 'AAPL', 'AAPL', 'AAPL'],
        'open': [100, 110, 200, 205],
        'close': [90, 120, 205, 210]
       }
index = ['2020-04-02', '2020-04-03', '2020-04-07', '2020-04-08']
df = pd.DataFrame(data, index)
df.index.name = 'date'
df.index = pd.DatetimeIndex(df.index)

print(df)

print(df.index)

# add all missing business dates between begin/end dates (date 2020-04-06)

df_all_weekdays = pd.date_range(start=df.index.min(), end=df.index.max(), freq='B')
df = df.reindex(df_all_weekdays, method='ffill') # or df = df.reindex(df_all_weekdays, method='bfill') to backfill
df.index.name = 'date'
df

           ticker  open  close
date
2020-04-02   AAPL   100     90
2020-04-03   AAPL   110    120
2020-04-07   AAPL   200    205
2020-04-08   AAPL   205    210
DatetimeIndex(['2020-04-02', '2020-04-03', '2020-04-07', '2020-04-08'], dtype='datetime64[ns]', name='date', freq=None)

           ticker  open  close
date
2020-04-02   AAPL   100     90
2020-04-03   AAPL   110    120
2020-04-06   AAPL   200    205
2020-04-07   AAPL   200    205
2020-04-08   AAPL   205    210